<html>
    <head>
        <title>Two Phones</title>
    </head>
    <body>

        <div>
            <h1><a href="/">Two Phones</a></h1>
        </div>
        <div>
        {% for twothing in twothings %}
            <div>
                <p>published: {{ twothing.published_date }}</p>
                <h1><a href="">I have two {{ twothing.thing_of_which_i_have_two }}</a></h1>
                <p>One for {{ twothing.reason_one }} and one for {{ twothing.reason_two }}</p>
            </div>
        {% endfor %}
        </div>
    </body>
</html>