{% extends 'twophones/base.html' %}

{% block content %}
  {% for twothing in twothings %}
    <div class="thing-entry">
      <h2><a href="">I have two {{ twothing.thing_of_which_i_have_two }}</a></h2>
      <p>One for {{ twothing.reason_one }} and one for {{ twothing.reason_two }}</p>
      <div class="author">
        <p>Submitted by {{ twothing.author }}
      </div>
      <div class="date">
        <p>published: {{ twothing.published_date }}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}
